# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.ddd-chess-game.iml
/modules.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

obj/
bin/
.idea/
#**/Debug/
#**/debug/
#**/obj/
#**/bin/
#Debug/
#debug/
#obj/
#bin/
#src/ChessGame.Domain/bin/Debug/net9.0/ChessGame.Domain.dll
#.idea/
